{% extends 'base.html' %}

{% block conteudo %}
<div class="{% if ALTO_CONTRASTE %}bg-dark text-white container card shadow-5-strong p-4 mt-4 fw-bold {% endif %} {% if FONTE %} font {% endif %} container card shadow-2-strong p-4 mt-4 bg-light">
	<div class="card-title mb-2 h4 p-2">Consultar Cliente</div>
	<form action="/procurar" method="POST">
		<div class="row">
			<div class="form-group col-md-3">
				<select class="form-select" aria-label="Default select example" name="tipo">
					<option selected value="CPF">CPF</option>
					<option value="NOME">NOME</option>
				  </select>
			  </div>
			  <div class="form-group col-md-9">
				<input type="text" class="form-control" id="nome" name="textobusca" >
				<div>{{msg}}</div>
			  </div>
		</div>
		<div><button class="btn btn-primary btn-sm float-end p-1 mt-4">Procurar</button></div>
	</form>
</div>
<script type="text/javascript" src="../static/validacoesconsultacliente.js"></script>



{% endblock %}