{% extends 'base.html' %}

{% block conteudo %}
<div class="container mt-4 ml-4 mr-4 p-2 {% if FONTE %} font {% endif %}" style="border-style: solid;border-width: 1px; border-radius: 5px;">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Número</th>
      <th scope="col">Cliente</th>
      <th scope="col">Pedido</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
  <!-- Lógica Python para várias linhas aqui-->
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
	  <td><button class="btn btn-primary">Abrir</button>
    </tr>
<!-- Lógica Python para várias linhas aqui-->
  </tbody>
</table>
</div>

{% endblock %}